<mat-form-field>
  <input
    matInput
    [matDatepickerFilter]="myFilter"
    [matDatepicker]="picker1"
    placeholder="起始日期"
    [(ngModel)]="startDate"
    ngDefaultControl
  >
  <mat-datepicker-toggle
    matSuffix
    [for]="picker1"
  >
  </mat-datepicker-toggle>
  <mat-datepicker
    #picker1
  >
  </mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input
    matInput
    [matDatepickerFilter]="myFilter"
    [matDatepicker]="picker2"
    placeholder="结束日期"
    [(ngModel)]="endDate"
    ngDefaultControl
  >
  <mat-datepicker-toggle
    matSuffix
    [for]="picker2"
  >
  </mat-datepicker-toggle>
  <mat-datepicker
    #picker2
  >
  </mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-select [(ngModel)]="selectedProduct" placeholder="选择产品">
    <mat-option *ngFor="let p of products" [value]="p.product_id">
      {{p.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button
  class="submit-button"
  mat-raised-button color="primary"
  (click)="submit()"
>
  提交
</button>

<mat-spinner class="spinner" *ngIf="graphing"></mat-spinner>
<mat-grid-list cols="5" rowHeight="1000px">
  <mat-grid-tile [colspan]="4">
    <div id="summary"></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-list *ngIf="calculated">
      <mat-list-item>净值增长率：{{productInfo.netValueIncreasingRatio}}</mat-list-item>
      <mat-list-item>净值波动率：{{productInfo.netValueVolatilityRatio}}</mat-list-item>
      <mat-list-item>投资胜率：{{productInfo.investmentSuccessfulRatio}}</mat-list-item>
      <mat-list-item>夏普比率：{{productInfo.sharpRatio}}</mat-list-item>
      <mat-list-item>索提诺比率：{{productInfo.sortinoRatio}}</mat-list-item>
      <mat-list-item>Calmar比率：{{productInfo.calmarRatio}}</mat-list-item>
      <mat-list-item>最大回撤：{{productInfo.maxDrawdown}}</mat-list-item>
      <mat-list-item>下半标准差：{{productInfo.underHalfSTD}}</mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
