.mat-select {
  height: 22px;
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#toolbar {
  margin-top: 5px;
  margin-left: 25px;
}

#summary {
  margin-top: 15px;
  width: 100%;
  min-height: 450px;
}
