<mat-toolbar>
  <div>
    <h1 class="title">
      Product Monitor &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="clock">{{clock | async | date: 'y-M-d EEEE HH:mm:ss'}}</span>
    </h1>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let routeLink of routeLinks; let i = index"
     [routerLink]="routeLink.link"
     [active]="activeLinkIndex === i"
     (click)="activeLinkIndex = i"
     [disabled]="routeLink.disabled"
  >
    {{routeLink.label}}
  </a>
</nav>
<router-outlet></router-outlet>

