<div class="content">
  <h2>LOGIN</h2>
  <p>{{message}}</p>
  <div *ngIf="!authService.isLoggedIn">
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="account"
          [(ngModel)]="userName"
          [ngModelOptions]="{standalone: true}"
        >
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="password"
          [(ngModel)]="passWord"
          [ngModelOptions]="{standalone: true}"
          (keyup.enter)="login(userName, passWord)"
        >
      </mat-form-field>
    </form>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="login(userName, passWord)"
    *ngIf="!authService.isLoggedIn">Login
  </button>
</div>
