<button
  class="refresh-button"
  mat-raised-button color="primary"
  (click)="click$.next()"
>
  更新时间：
  <!--<time>{{lastUpdate | amLocal | amDateFormat: 'HH:mm:ss'}}</time>-->
  <time>{{clock | async | date: 'HH:mm:ss'}}</time>
</button>


<div *ngIf="isDataAvailable">
  <div class="account-container mat-elevation-z8">

    <div class="search-header">
      <mat-input-container floatPlaceholder="never">
        <input matInput #filter placeholder="查询产品">
      </mat-input-container>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="product_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 产品名称</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="stock_mv">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 股票市值(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.stock_mv}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="future_mv">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 期货净市值(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.future_mv}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="future_mg">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 占用保证金(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.future_mg}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="stock_total_asset">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 股票总资产(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.stock_total_asset}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="future_total_asset">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 期货总资产(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.future_total_asset}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_total_asset">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 产品总资产(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.account_total_asset}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_position_pct">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 股票仓位</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.account_position_pct}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="future_risk_pct">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 期货风险度</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.color]="switchColor(element.future_risk_pct, 90)">
          {{element.future_risk_pct}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exposure">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 敞口(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.exposure}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="exposure_pct">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 敞口占比</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.color]="switchColor(element.exposure_pct, 10)">
          {{element.exposure_pct}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="trade_exposure">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 交易敞口(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trade_exposure}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="trade_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 交易金额(万)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trade_amount}}</mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
      No changes found matching filter.
    </div>

    <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="25"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
