.refresh-button {
  margin-top: 25px;
  margin-bottom: 15px;
}

.account-container {
  display: flex;
  flex-direction: column;
  /*max-height: 500px;*/
  min-width: 300px;
  /*margin-top: 25px;*/
}

mat-table {
  overflow: auto;
  max-height: 500px;
}

md-header-cell {
  text-align: end;
  font-weight: 900;
}

md-cell {
  text-align: end;
}
