<button (click)="refreshAllAccounts()">刷新！</button>
<table style="width: 100%">
  <tr>
    <th>产品名称</th>
    <th>股票市值</th>
    <th>期货市值</th>
    <th>期货占用保证金</th>
    <th>股票总资产</th>
    <th>期货总资产</th>
    <th>敞口</th>
    <th>敞口占比</th>
  </tr>
  <tr *ngFor="let item of observableAccountList$ | async">
    <td>{{item.product_name}}</td>
    <td>{{item.stock_mv}}</td>
    <td>{{item.future_mv}}</td>
    <td>{{item.future_mg}}</td>
    <td>{{item.stock_total_asset}}</td>
    <td>{{item.future_total_asset}}</td>
    <td>{{item.exposure}}</td>
    <td>{{item.exposure_pct}}</td>
  </tr>
</table>

<!--<md-table></md-table>-->
