<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile>
    选择产品：
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-select class="product-selection" [(ngModel)]="selectedValue">
      <mat-option *ngFor="let p of products" [value]="p.product_id">
        {{p.viewValue}}
      </mat-option>
    </mat-select>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-radio-group [(ngModel)]="position_type">
      <mat-radio-button value="stock">股票</mat-radio-button>
      <mat-radio-button value="future">期货</mat-radio-button>
    </mat-radio-group>
  </mat-grid-tile>

  <mat-grid-tile>
    <button
      mat-raised-button color="primary"
      (click)="refreshPosition(selectedValue, position_type)"
    >
      提交
    </button>
  </mat-grid-tile>
</mat-grid-list>


<!--<mat-select class="product-selection" placeholder="选择产品" [(ngModel)]="selectedValue">-->
  <!--<mat-option *ngFor="let p of products" [value]="p.product_id">-->
    <!--{{p.viewValue}}-->
  <!--</mat-option>-->
<!--</mat-select>-->

<!--<mat-radio-group [(ngModel)]="position_type">-->
  <!--<mat-radio-button value="stock">股票</mat-radio-button>-->
  <!--<mat-radio-button value="future">期货</mat-radio-button>-->
<!--</mat-radio-group>-->

<!--<button-->
  <!--mat-raised-button color="primary"-->
  <!--(click)="refreshPosition(selectedValue, position_type)"-->
<!--&gt;-->
  <!--提交-->
<!--</button>-->

<div class="position-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="product_id">
      <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.product_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ticker">
      <mat-header-cell *matHeaderCellDef> Ticker</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ticker}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef> Volume</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.volume}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="direction">
      <mat-header-cell *matHeaderCellDef> Direction</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.direction}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
