<div>
  <mat-form-field class="product-selection">
    <mat-select [(ngModel)]="selectedProduct" placeholder="选择产品">
      <mat-option *ngFor="let p of products" [value]="p.product_id">
        {{p.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group class="type-selection" [(ngModel)]="position_type">
    <mat-radio-button value="stock">股票</mat-radio-button>
    <mat-radio-button value="future">期货</mat-radio-button>
  </mat-radio-group>

  <button
    class="submit-buttom"
    mat-raised-button color="primary"
    (click)="click$.next(); refreshPosition(selectedProduct, position_type)"
  >
    更新时间：
    <time>{{clock | async | date: 'HH:mm:ss'}}</time>
  </button>
</div>

<div *ngIf="isDataAvailable">
  <div class="position-container mat-elevation-z8">

    <div class="example-header">
      <mat-input-container floatPlaceholder="never">
        <input matInput #filter placeholder="查询标的">
      </mat-input-container>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="product_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 产品</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ticker">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 标的</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ticker}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="volume">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 持仓量</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.volume}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="direction">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 方向</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.direction}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 日期</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
      No changes found matching filter.
    </div>

    <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="500"
                   [pageSizeOptions]="[50, 100, 200, 500, 1000]">
    </mat-paginator>
  </div>
</div>
